.auctionNav {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
}

.auctionNav h4 {
  margin-bottom: 0;
  font-family: 'ARK-ES', monospace;
  font-size: 20px;
}

.leftArrow,
.rightArrow {
  padding: 0;
  border: none;
  color: var(--brand-white);
  font-size: xx-large;
  background-color: transparent;
}

.leftArrow {
  margin-right: 1rem;
}
.rightArrow {
  margin-left: 1rem;
}
.leftArrow:hover,
.rightArrow:hover {
  opacity: 0.9;
}
.leftArrow:disabled,
.rightArrow:disabled {
  opacity: 0.5;
}
